* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #edf0f2;
}

html {
  color: #333;
  font-size: 110%;
  font-family: "Source Sans Pro", Helvetica, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, Arial, sans-serif;
  line-height: 1.4;
  border-top: 4px solid #f20;
  background-color: #fafafa;
}

p,
dl,
ol,
ul,
pre,
img,
.btn,
table,
blockquote {
  margin: 0 0 1.5em;
}

ul {
  padding: 0 0 0 1.5em;
}

a,
.btn {
  text-decoration: none;
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;
  -ms-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

a {
  color: #f20;
}

a:hover {
  color: #111;
}

.btn {
  display: inline-block;
  padding: 0.3em 0.8em;
  color: #333;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.btn:hover {
  color: #fff;
  background-color: #111;
}

img,
audio,
embed,
video,
object {
  height: auto;
  max-width: 100%;
}

img,
audio,
video,
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

mark {
  padding: 2px;
  background-color: #fdffb6;
}

blockquote {
  padding-left: 1em;
  font-size: 1.5em;
  border-left: 4px solid #f20;
}

hr {
  display: block;
  margin: 1.5em 0;
  border-top: 1px dashed #aaa;
  border-bottom: 1px dashed #fff;
}

pre,
code {
  font-family: "Source Code Pro", monospace;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #111;
  border: 1px solid #ccc;
  font-size: 0.9em;
  white-space: pre;
  background-color: #fafafa;
  -webkit-box-shadow: 1px 1px 1px #dbd9d9;
  -moz-box-shadow: 1px 1px 1px #dbd9d9;
  box-shadow: 1px 1px 1px #dbd9d9;
}

pre {
  padding: 0.6em 0.8em;
  overflow-x: auto;
  line-height: 1.3;
}

code {
  display: inline;
  padding: 0 0.3em;
  max-width: 100%;
  word-wrap: break-word;
  overflow-x: auto;
  vertical-align: middle;
  border-color: #ccc;
}

pre > code {
  border: none;
  padding: 0;
  font-size: 100%;
  word-wrap: normal;
  background-color: transparent;
}

pre .title,
pre .comment {
  color: #8e908c;
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}

pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #eab700;
}

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}

pre .css .hexcolor {
  color: #3e999f;
}

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}

pre .keyword,
pre .javascript .function {
  color: #8959a8;
}

table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  text-align: left;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.55em 1.1em 0.4em;
  border: 1px solid #ccc;
}

table tr + tr th,
table tr + tr td {
  border-top-width: 0;
}

table th + th,
table td + td {
  border-left-width: 0;
}

table th {
  color: #777;
  padding-top: 0.65em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #dadada;
}

table tr:hover td {
  background: #fafafa;
}

.box {
  background-color: #fafafa;
}

.container {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 46em;
}

.back-to-home {
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  color: #000;
  text-align: center;
  line-height: 1.9;
  border: 1px solid #bbb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}

.back-to-home:hover {
  color: #f20;
}

.home.back-to-home {
  margin-top: 1.5em;
}

.header-title,
.content-title {
  margin: 0;
  line-height: 1.2;
}

.header-title,
.header-title a {
  color: #111;
}

.header .header-title {
	font-size: 1.6em;
	margin-top: 0.5em;
}

.header-metadata {
  color: #bbb;
}

.header,
.footer {
  padding-top: 2em;
  padding-bottom: 2.2em;
  text-align: center;
}

.article .header {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.content-header {
  margin-bottom: 1em;
}

.content-share {
  text-align: center;
}

.content-share > * {
  margin: 0 0.3em;
}

.navigation,
.content-article,
.content-share,
#disqus_thread {
  margin-bottom: 2em;
}

.navigation .btn {
  margin-bottom: 0;
}

.navigation-prev {
  float: left;
}

.navigation-next {
  float: right;
}

.footer {
  position: relative;
  border-top: 1px dashed #aaa;
  background-color: #edf0f2;
  margin-top: 3em;
}

.footer .back-to-home {
  position: absolute;
  top: -1em;
  left: 50%;
  margin-left: -1em;
}

.footer .container {
  margin-top: 1em;
  font-size: small;
  color: lightslategray;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.no-js #disqus_thread {
  display: none;
}

.ir {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 149px;
  height: 149px;
  background-size: 100%;
  background-image: url("/img/right-graphite.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .fork-me {
      background-image: url("/img/right-graphite@2x.png");
    }
}

@media (max-width: 37.5em) {
  .fork-me {
    display: none;
  }
}

@media print {
  html {
    border: none;
  }

  p,
  dl,
  ol,
  ul,
  pre,
  img,
  .btn,
  table,
  blockquote {
    margin-bottom: 0.75em;
  }

  .footer,
  .fork-me,
  .back-to-home {
    display: none;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    padding-top: 0;
    padding-bottom: 1em;
  }

  #disqus_thread {
    display: none;
  }
}

.index .content-article .content {
  font-size: 0.85em;
}

.index .content-article {
  width: 100%;
  display: block;
  border: 1px solid;
  border-color: #e5e5e5 #dbdbdb #d2d2d2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  padding: 1em 1em 1em 1.4em;
  background-color:#fefefe;
}

.index .content .content-title {
  font-size: 1.2em;
}

.index .content-article .content p,
.index .content-article .content ol,
.index .content-article .content ul,
.index .content-article .content blockquote {
  margin-bottom: 0.8em;
}

.index .content-article .content h3 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

img {
  background: #fff;
  padding: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #e5e5e5 #dbdbdb #d2d2d2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}
